.detail {
    background-color: rgb(191, 220, 229);
    border-radius: 10px;
    padding: 5vh;
    height: 80vh;
}

.detail button {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: .3s;
}

.detail button:hover {
    transform: translate(-10px, 0px);
}

.detail h1 {
    font-size: 1.5em;
}